.navbar-default{  /* Bar de nav/header initiale ******/
    font-size: 30px;
    opacity: 0.8;
    padding: 45px;  
   -webkit-transition: all 0.150s ease-out;
-moz-transition: all 0.150s ease-out;
-ms-transition: all 0.150s ease-out;
-o-transition: all 0.150s ease-out;
transition: all 0.150s ease-out;

        
}
 
.navbar-default.bigcontent{ /* Bar de nav* *****/
    
        font-size: 25px;
        padding: 0px;
        background-color: white;
        opacity: 1 ;
        -webkit-transition: all 0.150s ease-out;
-moz-transition: all 0.150s ease-out;
-ms-transition: all 0.150s ease-out;
-o-transition: all 0.150s ease-out;
transition: all 0.150s ease-out;

	    
}


 .navbar-default > :first-child{ /* Bouton menu ******/
     padding: 0px;
     display: flex ;
     float: right;
     width: 50%;
     justify-content: space-around;
     margin: 2%;
     list-style: none;
     
 }
 
 
 .contact{
     float: right;
    position: absolute;
    top: 31px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87px;
    list-style: none;
    -moz-transition: all 0.50s ease-out;
-ms-transition: all 0.50s ease-out;
-o-transition: all 0.50s ease-out;
transition: all 0.50s ease-out;
 }

 .contact.cache{/*cache contact de la navbar********/
     visibility: hidden;
     -moz-transition: all 0.150s ease-out;
-ms-transition: all 0.150s ease-out;
-o-transition: all 0.150s ease-out;
transition: all 0.150s ease-out;
 }
 
header{  /* Bouton menu ******/ 
    background: url("img/patisseries-sobre.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ptit{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: center;

}

.ptit > div{
    display: flex;
    flex-direction:column;
    width: 500px;
    background: red;


}
.ptit > div > p{
 padding-top: 50px;   
}


.grosse{
    width: 90%;
    background-color:blue;
    margin: auto;
    height: 420px;
    padding: 29px;
}

.grosse > h3 {
    margin: 0px;
    padding: 0px;
}

#tof {
    position: relative;
    height: 200px;
    width: 150px;
   background-color: yellow;
   -moz-box-shadow: 30px 30px 0px 0px #656565;
-webkit-box-shadow: 30px 30px 0px 0px #656565;
-o-box-shadow: 30px 30px 0px 0px #656565;
box-shadow: 30px 30px 0px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=0);

}
footer{
    background-color: lightblue;
    height: 60px;
}